numpy
pandas
langchain
langchain_core
langchain_community
langsmith
huggingface_hub
langchain_huggingface
dotenv
langchain-groq
sentence_transformers
langchain-openai
faiss-cpu
chromadb
pypdf
bs4
langchain-text-splitters
langsmith
langchain-chroma